.Card {
	min-height: 300px;
	border: 1px solid #000;
	border-radius: 4px;
	transition: 0.5s;
}

.Card:hover {
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.Card__top {
	height: 350px;
	overflow: hidden;
}

.Card__img {
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.Card__main {
	padding: 10px;
}

.Card__info {
	margin-bottom: 5px;
}

.Card__infoName {
	font-size: 17px;
	font-weight: 700;
}

.Card__bottom {
	display: flex;
	justify-content: flex-end;
}

.Card__btn {
	width: 38px;
	height: 36px;
	stroke-width: 5px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	margin-right: 10px;
}

.Card__icon {
	width: 100%;
	height: 100%;
}

.Card__icon_like {
	fill: #fff;
	stroke: #000;
	width: 37px;
	height: 24px;
}

.Card__btn.isActive .Card__icon_like {
	fill: #ea4335;
	stroke: #ea4335;
}
