.Card {
	min-height: 300px;
	border: 1px solid #000;
	border-radius: 4px;
}

.Card__top {
	height: 350px;
	overflow: hidden;
}

.Card__img {
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.Card__main {
	padding: 10px;
}

.Card__info {
	margin-bottom: 5px;
}

.Card__infoName {
	font-size: 17px;
	font-weight: 700;
}

.Card__name {
}

.Card__nameLatin {
}

.Card__animalType {
}

.Card__activeTime {
}

.Card__lengthMin {
}

.Card__lengthMax {
}

.Card__weightMin {
}

.Card__weightMax {
}

.Card__lifespan {
}

.Card__habitat {
}

.Card__diet {
}

.Card__geoRange {
}
